{% extends 'base.html.twig' %}


{% block body %}
	<h1>Bienvenu sur ce blog</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates magnam itaque quibusdam error voluptas reiciendis cum totam repellendus optio consectetur delectus, non corporis nulla tenetur temporibus tempora vel asperiores enim provident? Eius sapiente iure assumenda in harum vel minus necessitatibus earum suscipit, impedit fuga cumque perspiciatis reprehenderit, neque illo commodi.</p>
	<p>Beatae at, incidunt quidem reprehenderit ullam culpa consequatur quisquam fugiat nobis blanditiis quasi odit sint itaque totam cum sunt alias quae error cumque soluta ad porro nihil eius? Officiis dolore enim facilis cupiditate incidunt nisi alias harum? Nihil cumque aut similique, rerum quis voluptates vitae earum corporis, deleniti expedita odit?</p>
{% endblock %}
